[submodule "2015"]
	path = 2015
	url = https://github.com/tuckergordon/2015.git
[submodule "pandas_exercises"]
	path = pandas_exercises
	url = https://github.com/tuckergordon/pandas_exercises.git
[submodule "2015labs/2015lab1"]
	path = 2015labs/2015lab1
	url = https://github.com/cs109/2015lab1.git
[submodule "2015labs/2015lab2"]
	path = 2015labs/2015lab2
	url = https://github.com/cs109/2015lab2.git
[submodule "2015labs/2015lab3"]
	path = 2015labs/2015lab3
	url = https://github.com/cs109/2015lab3.git
[submodule "2015labs/2015lab4"]
	path = 2015labs/2015lab4
	url = https://github.com/cs109/2015lab4.git
[submodule "2015labs/2015lab5"]
	path = 2015labs/2015lab5
	url = https://github.com/cs109/2015lab5.git
